/* html {
    height: 100%;
}
*/
body {
    overflow: hidden;
} 

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main {
    text-align: center;
}

.main > * {
    display: block;
}

.results_row {
    max-height: 50%
}
/* 
.col-md-6 {
    max-height: 50%;
} */

#code_planet {
    height: 40%;
    max-height: 40%;
    overflow: hidden scroll;
}

#code_planet > p {
    font-size: 12px;
    font-family: "Lucida Console", Courier, monospace;
}

#result_planet {
    font-size: 12px;
    font-family: "Lucida Console", Courier, monospace;
    height: 40%;
    max-height: 40%;
    white-space: nowrap;
    overflow: hidden scroll;
    /* overflow-y: hidden scroll;
    overflow-x: hidden scroll; */
}

@media only screen and (max-width: 767px) {
    body {
        overflow: scroll;
    }
    .col-md-6 {
        max-height: 10%
        
    }
    .col-md-6 > card {
        overflow: none;
    }
}